<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheet/style.css" />
    <title>Weather</title>
  </head>
  <body>
    <div class="input">
      <form action="/weather" method="post">
        <label for="ZipCode" id="zip" class="inputlabel">Enter Zip Code:</label>
        <input
          class="inputValue"
          type="text"
          name="ZipCode"
          id="ZipCode"
          required
        />
        <button type="submit">Get Weather</button>
      </form>
    </div>
  </body>
</html>
